.arts-quiz__header,
.artist-quiz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-category {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.arts-quiz__card,
.artist-quiz__card {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.arts-quiz__question,
.artist-quiz__question {
  margin-bottom: 20px;
}

.artist-quiz__img {
  min-width: 360px;
  max-width: 600px;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}


.arts-quiz__answers,
.artist-quiz__answers {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}



.arts-quiz__questions-number,
.artist-quiz__questions-number {
  margin-bottom: 20px;
}

.artist-quiz__question,
.arts-quiz__question {
}


.artist-quiz__answer {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border: 1px solid $font-color;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
}

.artist-quiz__answer:hover {
  color: $main-color;
  background-color: $font-color;
}

.artist-quiz__answer:active {
  color: $main-color;
  background-color: $accent-color;
  border: 1px solid $accent-color;
}

@media (max-width: 650px) {
  .artist-quiz__answer {
    max-width: 250px;

  }
}


@media (max-width: 560px) {
  .artist-quiz__answer {
    max-width: 180px;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .artist-quiz__answer {
    max-width: 150px;
  }
  .artist-quiz__answers {
    gap: 5px;
  }
}

@media (max-width: 450px) {
  .artist-quiz__answers {
    font-size: 16px;
  }
}

.artist-quiz__answer.correct {
  border: 2px solid $accent-color;
}

.artist-quiz__answer.wrong {
  border: 2px solid red;
}


.disabled {
  pointer-events: none;
}


.modal,
.arts-modal,
.modal-results-arts,
.modal-results {
  color: $main-color;
  display: block;
  top: -100%;/* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант  */
  background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
  transition: top 0.8s ease;
  text-align: center;
}



/* Модальное содержание */
.modal-arts-content,
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $font-color;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px;
  width: 100%;
}

.modal-inner-text {
  margin-bottom: 20px;
  color: $main-color;
}

.arts-quiz__next,
.artist-quiz__next {
  text-align: center;
  border-radius: 60px;
  background-color: $accent-color;
  padding: 10px;
  color: $main-color;
}

.arts-quiz__next:hover,
.artist-quiz__next:hover {
  border: 1px solid black;
}

.arts-quiz__questions-number,
.artist-quiz__questions-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.arts-quiz__question-number,
.artist-quiz__question-number {
  width: 10px;
  height: 10px;
  border: 1px solid $font-color;
  border-radius: 50%;
}


.arts-quiz__question-number.correct,
.artist-quiz__question-number.correct {
  border: 1px solid $accent-color;
  background: $accent-color;
}

.arts-quiz__question-number.wrong,
.artist-quiz__question-number.wrong {
  border: 1px solid $accent-color;
}