
.artist-category__content {
  display: flex;
  flex-direction: column;
}

.artist-category__header {
  display: flex;
  margin-bottom: 20px;
}

.arts-category__categories,
.artist-category__categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.arts-card,
.artist-card {
  max-width: 180px;
  width: 100%;
  height: 210px;
  gap: 10px;
  margin: 10px;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.arts-card__question,
.artist-card__question {
  width: 100%;
  background-color: $main-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.arts-card__img,
.artist-card__img {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  height: 100%;

}

.wrong-answer,
.not-visited {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.arts-card:hover,
.artist-card:hover {
  .arts-img:hover,
  .artist-card__img {
    opacity: 0.5;
  }
  .arts-card__question,
  .artist-card__question {
    color: $accent-color;
  }

}

.card-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $accent-color;
  background-color: $main-color;
  border-radius: 20px;
  padding: 0 5px;
}

.card-btn:hover {
  background-color: $font-color;
  color: $main-color;
}