.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-image: url("./../assets/images/main-img.jpg");

}

.background-img {

}

.background-img-none {
  background-image: none;
}

.container {
  display: flex;
  height: calc(100vh - #{$height});
  overflow-y: scroll;
  flex: 1 0 auto;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  min-width: 360px;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px $height 15px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.main__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.logo{
  display: flex;
  gap: 20px;
  align-items: center;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: $height;
  background-color: transparent;
}