.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-image: url("./../assets/images/main-img.jpg");
}

.container {
  display: flex;
  height: calc(100vh - #{$height});
  position: relative;
  overflow-y: scroll;
  flex: 1 0 auto;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  min-width: 360px;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px $height 15px;
}

.container::-webkit-scrollbar {
  width: 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 0;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

//.main-header_logo {
//  margin-bottom: 20%;
//}

.main__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 35px;
}

.main__settings-btn {
  position: relative;
}

.main__settings-btn svg {
  position: absolute;
  fill: white;
}

.main__settings-btn svg {
  position: absolute;
  fill: white;
  top: 12px;
  left: 5px;
  transition-property: transform;
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


.main__settings-btn:hover {
  svg {
    -webkit-animation: rotation 5s infinite linear;
    fill: black;
  }
}

.button-pulse {
  animation: pulse 5s infinite 3s cubic-bezier(0.1, 0, 0, 1);
  box-shadow: 0 0 0 0 white;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 460px) {
  .logo svg {
    display: none;
  }
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.light .category-header {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer {
  width: 100%;
  font-size: 18px;
  height: $height;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.rs_logo:hover {
  cursor: pointer;
  svg {
    fill: $accent-color;
  }
}

.rs_logo svg {
  fill: white;
}

.light .footer {
  svg {
    fill: $accent-color;
  }
  color: $accent-color;
}

.author {
  cursor: pointer;
}

.author:hover {
  color: $accent-color;
}

//animation logo

$colors: #EFEAC5, white, red, #EFEAC5, white,;

.main-header_logo {
 height: 300px;
  font: 16em/1 "Alumni Sans";
}

.text--line {
  font-size: 0.5em;
  font-weight: 700;
}

.main-header_logo svg {
  width: 100%;
  height: 100%;
}

$max: 5;
$stroke-step: 100%;
.text-copy {
  fill: none;
  stroke: $accent-color;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 6px;

  animation: stroke-offset 9s infinite linear;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
    }
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: 0 $stroke-step * $max*2.5;
  }
}


