.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-image: url("./../assets/images/main-img.jpg");
}

.container {
  display: flex;
  height: calc(100vh - #{$height});
  position: relative;
  overflow-y: scroll;
  flex: 1 0 auto;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  min-width: 360px;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px $height 15px;
}

.container::-webkit-scrollbar {
  width: 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.main-header_logo {
  margin-bottom: 20%;
}

.main__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 20px;
}

.main__settings-btn {
  position: relative;
}

.main__settings-btn svg {
  position: absolute;
  fill: white;
}

.main__settings-btn svg {
  position: absolute;
  fill: white;
  top: 12px;
  left: 5px;
  transition-property: transform;
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


.main__settings-btn:hover {
  svg {
    -webkit-animation: rotation 5s infinite linear;
    fill: black;
  }
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 460px) {
  .logo svg {
    display: none;
  }
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.light .category-header {
  background-color: rgba(255, 255, 255, 0.8);
}

.footer {
  width: 100%;
  font-size: 18px;
  height: $height;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rs_logo svg{
  fill: var(--color-text);
}

.author:hover {
  color: $accent-color;
}