.settings {
  max-width: 300px;
  width: 100%;
}

//SWITCH
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $accent-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.timer {
  margin-top: calc(#{$height} * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  font-weight: 900;
}


.timer-up,
.volume-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.timer__switch,
.volume__switch{
  margin-top: 10px;
}

.settings__content {
  margin-top: calc(#{$height} * 2);
}

.volume-label {
  padding-left: 5px;
}

.timer__title,
.volume__title {
  color: $accent-color;
  font-weight: 600;
}



